.feed {
    display: flex;
    flex-direction: column;
}

.watchlistContainer {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.watchlist {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 400px;
    min-height: 150px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 6px;
    // background-color: #ffffba;
    margin-right: 10px;
    padding: 12px;
    box-shadow: -5px 5px 0 black;
    z-index: 0;

    &:hover {
            cursor: pointer;
            box-shadow: inset -3px 3px 0 black;
            transform: translateY(.25rem);
        }

    a {
        font-size: 12px;
        color: plum;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.watchlistHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-right: 5px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        border: 1px solid black;
    }

    p {
        font-size: 8px;
    }

    a {
        text-decoration: none;
        font-size: 8px;
        color: black;

        &:hover{
            text-decoration: underline;
        }
    }
}

.watchlistContent {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.watchlistDescription {
    font-size: 8px;
    width: 80%;
}

.watchlistTitle {
    font-size: 16px;
}

.items {
    overflow-y: scroll;

    li {
        font-size: 12px;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.itemName {
    font-size: 10px;
}

.tags {
    width: 90%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    font-size: 10px;
    margin-top: 10px;
    gap: .25rem;
}

.reactions {
    display: flex;
    position: relative;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .userLiked {
        position: absolute;
        top: 4.1rem;
        font-size: 28px;
        color: 	plum;
        display: none;
    }

    .userFavorited {
        position: absolute;
        top: 0.5rem;
        font-size: 26px;
        color: 	#ffffba;
        display: none;
    }

    .favorite {
        font-size: 32px;
        z-index: inherit;
        color: black;

        &:hover{
            cursor: pointer;
            color: #ffdfba;
        }
    }

    .like {
        font-size: 32px;
        z-index: inherit;
        color: black;

        &:hover{
            cursor: pointer;
            color: #ffb3ba;
        }
    }

    .comment {
        font-size: 22px;
        padding: .25rem;
        z-index: inherit;
        color: black;

        &:hover{
            cursor: pointer;
            color: #bae1ff;
        }
    }

    span {
        font-size: 10px;
    }
}

.commentSection {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 400px;
    ul {
        font-size: 12px;
        list-style: none;
    }
}

.commentsList {
    overflow-y: scroll;
}

.addComment {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #bae1ff;
    font-family: "PressStart2P", sans-serif;
    font-size: 12px;
    overflow-wrap: break-word;

    &:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 425px){
    
    .feed {
        align-items: center;
    }

    .feedContainer {
        align-items: center;
    }

    .watchlistContainer {
        max-width: 250px;
        justify-content: center;
    }

    .watchlist {
        max-width: 75%;
        max-height: 150px;
    }

    .watchlistHeader {
        width: 25%;
        padding-right: .5rem;
    }

    .watchlistDescription {
        width: 100%;
    }

    .userInfo {
        display: flex;
        flex-wrap: wrap;
        word-break: break-all;
        width: 100%;
        overflow: wrap;
    }
    .watchlistContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        word-break: normal;
        padding-left: .5rem;
    }

    .watchlistTitle {
        font-size: 12px;
    }

    .tags {
        overflow-x: scroll;
    }
}   