.feedContainer {
<<<<<<< HEAD
    width: 100%;
=======
    width: 50%;
>>>>>>> 1cf2043761bf9a395221ae752838709b41e7106b
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: -8px 8px 0 black;
}

.watchlist {
    list-style: none;
}