.feedContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // border-radius: 6px;
    border-left: 1px solid black;
    overflow-y: scroll;
}

.watchlistsContainer {
    display: flex;
    justify-content: center;
}

.watchlist {
    list-style: none;
    margin-bottom: 20%;
}

.feedFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 0;
}

.createWatchlist {
  margin: auto;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .feedContainer {
    max-width: 250px;
    align-items: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  .feedTitle {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .feedTitle {
    display: flex;
    justify-content: center;
  }
}