.feedContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // border-radius: 6px;
    border-left: 1px solid black;
    max-height: 100vh;
}

.watchlistsContainer { 
    position: relative;
    max-height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.watchlist {
  list-style: none;
}

.feedTitle {
  position: absolute;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.feedFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.createWatchlist {
  margin: auto;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .feedContainer {
    max-width: 320px;
    align-items: center;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  
}