.profileBarContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #bae1ff;

    img {
        border-radius: 30px;
        border: 1px solid black;
        margin-right: 10px;
    }

    p {
        font-size: 10px;
    }
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px;

    &:hover {
        cursor: pointer;
    }
}

.logOut {
    font-size: 8px;
}

.userOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 10px;
    margin-top: 10px;

    a {
        text-decoration: none;
        color: plum;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 425px) {
    .profileBarContainer {
        flex-direction: row;
        padding: 10px;
        border: 1px solid black;
    }

    .userInfo {
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-right: 5px;
        border: none;
        border-right: 1px solid black;
        border-radius: 0;

        .handle {
            width: 100%;
        }
    }

    .userOptions {
        padding: 20px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .profileBarContainer {
        padding: 5px;
        
    }

    .userInfo {
       flex-direction: column;
       align-items: center;
       justify-content: center;

       div {
        text-align: center;
       }
    }

    .userOptions {
        padding: 20px;
        text-align: center;
    }
}