.headerContainer {
    display: flex;
    background-color: #ffffba;
    align-items: center;
    padding-left: 20px;
    margin: 0px 0px 25px 0px;
    border: 1px solid black;
    box-shadow: -8px 8px 0 black;
}