.container {
    width: 100%;
}

.mainContent {
    background-color: white;
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: -8px 8px 0 black;
    gap: 25px;
    margin: 0;
    padding: 20px;
    min-height: 75vh;
}

.leftSideBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.feed {
    width: 75%;
}

@media screen and (max-width: 425px) {
    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        box-shadow: none;
        padding: 5px;
        gap: 0;
    }
    .leftSideBar {
        width: 80%;
        margin: 0;
        padding-bottom: 20px;
    }

    .header {
        width: 100%;
    }

    .feed {
        width: 100%;
        border-top: 2px solid black;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) {
    .mainContent {
        margin: 0;
        padding: 0;
    }
    
    .feed {
        padding: 0;
        margin: 0;
    }
}