.container {
    width: 100%;
}

.mainContent {
    background-color: white;
    display: flex;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: -8px 8px 0 black;
    gap: 25px;
    margin: 0;
    padding: 20px;
    min-height: 75vh;
}

.leftSideBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.feed {
    width: 75%;
}

@media screen and (max-width: 425px) {
    .lefSideBar {
        display: none;
    }
}